<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/rotate.js"></script>
<p id="notice"><%= notice %></p>

<div class="contents">

<section class="forecast">
    <div class="logo1"　id="rotate">
        <figure><img src="<%= @icon %>"></figure>
    </div>
    <!--<div class="logo2"><img src="<%= @icon2 %>" id="image"></div> -->
  
  <div class="forecastText">
    <h1><%= @forecasts["info"]["name"] %></h1>
    <p><%= @forecasts["info"]["caption"] %></p>
  </div>
</section>
<section class="movie">
    <h2>日下由紀恵　出版記念セミナー</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Pqolr-wTNTw" frameborder="0" allowfullscreen></iframe>
  </section>
<section class="profiles">
<h2>占いたいプロフィールを選んでください</h2>
<h2>Profiles</h2>
<div class="table">
<table align="center">
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Birthday</th>
      <th>Bloodtype</th>
      <th>Sex</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><P><%= profile.lastNameKana %></P></td>
        <td><P><%= profile.firstNameKana %></P></td>
        <td><P><%= profile.birthDay %></P></td>
        <td><P><%= profile.bloodType %></P></td>
        <td><P><%= profile.sex %></P></td>
        <td><%= link_to 'Show', profile, class: 'button' %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile), class: 'button' %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
        <td><%= link_to '占う', forecasts_result_path(profile), class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>
<br>
  <%= link_to 'New Profile', new_profile_path, class: 'button' %>
</div>