<p id="notice"><%= notice %></p>

<h1>占い結果</h1>
  <h3><%= @resultTitle %></h3>
  <p><%= @resultBody %></p>
<p>
  <strong>Lastname:</strong>
  <%= @profile.lastNameKana %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstNameKana %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthDay %>
</p>

<p>
  <strong>Bloodtype:</strong>
  <%= @profile.bloodType %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<button><%= link_to 'Edit', edit_profile_path(@profile) %></button> |
<button><%= link_to 'Back', profiles_path %></button>