<p id="notice"><%= notice %></p>
<section class="forecast">
  <div class="logo">
    <img src="<%= @icon %>">
    <img src="<%= @icon2 %>">
  </div>
  <div class="forecastText">
    <h1>占い結果</h1>
      <h3><%= @resultTitle %></h3>
        <p><%= @resultBody %></p>
  </div>
</section>
<section class="profiles">
<p>
  <strong>Lastname:</strong>
  <%= @profile.lastNameKana %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @profile.firstNameKana %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthDay %>
</p>

<p>
  <strong>Bloodtype:</strong>
  <%= @profile.bloodType %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>
</section>
<button><%= link_to 'Edit', edit_profile_path(@profile) %></button>
<button><%= link_to 'Back', profiles_path %></button>